@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters */
hgroup{
	break-after: page;
}

hgroup + p{
	margin-top: 20vh;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end of letters */

/* custom */
[epub|type~="se:letter.dateline"]{
	text-align: right;
}

#dedication header{
	font-style: italic;
}

#part-1 blockquote header,
#part-2 blockquote header{
	text-align: initial;
}

#part-2 blockquote:nth-of-type(9) header{
	margin-bottom: 1em;
	text-align: center;
}
/* end of custom */
